<div class="row">
  <div class="col-xs-8 col-sm-6 col-md-3 col-md-offset-2 col-sm-offset-1">
    <img
      src="../../../../assets/images/doctor/patient-icon.png"
      alt="doctor-image"
      style="max-height: 90px; text-align: center;"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-2 col-sm-offset-1">
    <form [formGroup]="PasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="oldPass"
          >Old Password
          <input
            id="oldPass"
            type="password"
            formControlName="oldPass"
            class="form-control"
            placeholder="Your Password..."
          />
        </label>
      </div>

      <div class="form-group">
        <label for="newPass"
          >New Password
          <input
            id="newPass"
            type="password"
            formControlName="newPass"
            class="form-control"
            placeholder="New Password..."
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            [ngClass]="{
              'is-invalid': newPass.invalid && newPass.touched,
              'is-valid': newPass.valid && (newPass.dirty || newPass.touched)
            }"
          />
        </label>
        <div
          *ngIf="newPass.valid && (newPass.dirty || newPass.touched)"
          class="help-block"
        >
          Looks good!
        </div>

        <div
          *ngIf="newPass.errors?.required && newPass.touched"
          class="help-block"
        >
          Password is required.
        </div>

        <div *ngIf="newPass.invalid && newPass.touched" class="help-block">
          Password must contain the following:
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">
            A <b>capital (uppercase)</b> letter
          </p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPass"
          >Confirm Password
          <input
            id="confirmPass"
            type="password"
            appConfirmPassword="newPass"
            formControlName="confirmPass"
            class="form-control"
            placeholder="Confirm Password..."
            [ngClass]="{
              'is-invalid': confirmPass.invalid && confirmPass.touched,
              'is-valid':
                confirmPass.valid && (confirmPass.dirty || confirmPass.touched)
            }"
          />
        </label>
        <div
          *ngIf="
            confirmPass.valid && (confirmPass.dirty || confirmPass.touched)
          "
          class="help-block"
        >
          Looks good!
        </div>

        <div
          *ngIf="confirmPass.errors?.required && confirmPass.touched"
          class="help-block"
        >
          Confirm Password is required.
        </div>

        <div
          *ngIf="
            confirmPass.errors?.notEqual &&
            !confirmPass.errors?.required &&
            confirmPass.touched
          "
          class="help-block"
        >
          Password does not match.
        </div>

        <!-- <div
          *ngIf="confirmPass.invalid && confirmPass.touched"
          class="help-block"
        >
          Password must contain the following:
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">
            A <b>capital (uppercase)</b> letter
          </p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div> -->
      </div>

      <button
        type="submit"
        [disabled]="!PasswordForm.valid"
        class="btn btn-success mt-3 mr-2"
      >
        Change Password
      </button>

      <button
        type="reset"
        [disabled]="!PasswordForm.dirty"
        class="btn btn-primary mt-3"
      >
        Reset
      </button>
    </form>
  </div>
</div>
