<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="username"
          >User Name
          <input
            id="username"
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                username.invalid && (username.dirty || username.touched),
              'is-valid': username.valid && (username.dirty || username.touched)
            }"
          />
        </label>
        <div
          *ngIf="username.valid && (username.dirty || username.touched)"
          class="valid-feedback"
        >
          Looks good!
        </div>

        <div
          *ngIf="username.invalid && username.touched"
          class="invalid-feedback"
        >
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="password"
          >Password
          <input
            id="password"
            type="password"
            formControlName="password"
            class="form-control"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            [ngClass]="{
              'is-invalid': password.invalid && password.touched,
              'is-valid': password.valid && (password.dirty || password.touched)
            }"
          />
        </label>
        <div
          *ngIf="password.valid && (password.dirty || password.touched)"
          class="form-text valid-feedback"
        >
          Looks good!
        </div>

        <div
          *ngIf="password.invalid && password.touched"
          class="form-text invalid-feedback"
        >
          Password is required.
        </div>

        <div
          *ngIf="password.invalid && password.touched"
          class="form-text invalid-feedback"
        >
          Password must contain the following:
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">
            A <b>capital (uppercase)</b> letter
          </p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
      </div>

      <div class="form-group">
        <label for="sex" class="d-block">SEX </label>
        <input type="radio" formControlName="sex" value="male" /> Male
        <input type="radio" formControlName="sex" value="female" /> Female
      </div>
      
      <div class="form-group">
        <label for="usertype"
          >User Type
          <select
            id="usertype"
            formControlName="usertype"
            class="form-control"
          >
            <option
              *ngFor="let usertype of usertypes"
              [ngValue]="usertype"
              >{{ usertype }}</option
            >
          </select>
        </label>
      </div>

      <div class="form-group">
        <label for="department"
          >Department
          <select
            id="department"
            formControlName="department"
            class="form-control"
          >
            <option
              *ngFor="let department of departments"
              [ngValue]="department"
              >{{ department }}</option
            >
          </select>
        </label>
      </div>

      <div class="form-group">
        <label for="email"
          >Email Address
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="phone"
          >Phone Number
          <input
            id="phone"
            type="number"
            formControlName="phone"
            class="form-control"
          />
        </label>
      </div>

      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="btn btn-success mt-3 mr-2"
      >
        Add User
      </button>

      <button
      type="reset"
      [disabled]="!userForm.dirty" 
      class="btn btn-primary mt-3"
    >
      Reset
    </button>
    </form>

     <p>{{ userForm.value | json }}</p>
      <p>{{ userForm.status }}</p>
  </div>
</div>







 -->

<div class="row">
  <div class="col-xs-8 col-sm-6 col-md-3 col-md-offset-2 col-sm-offset-1">
    <img
      src="../../../../assets/images/doctor/doctor.png"
      alt="doctor-image"
      style="max-height: 90px;"
    />
  </div>

  <div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-2 col-sm-offset-1">
    <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <div class="form-group">
        <label for="firstName"
          >First Name
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                firstName.invalid && (firstName.dirty || firstName.touched),
              'is-valid':
                firstName.valid && (firstName.dirty || firstName.touched)
            }"
          />
        </label>
        <div
          *ngIf="firstName.valid && (firstName.dirty || firstName.touched)"
          class="form-text text-muted is-valid"
        >
          Looks good!
        </div>

        <div
          *ngIf="firstName.invalid && firstName.touched"
          class="form-text text-muted is-invalid"
        >
          First Name is required.
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-group">
        <label for="lastName"
          >Last Name
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                lastName.invalid && (lastName.dirty || lastName.touched),
              'is-valid': lastName.valid && (lastName.dirty || lastName.touched)
            }"
          />
        </label>
        <div
          *ngIf="lastName.valid && (lastName.dirty || lastName.touched)"
          class="valid-feedback"
        >
          Looks good!
        </div>

        <div
          *ngIf="firstName.invalid && firstName.touched"
          class="invalid-feedback"
        >
          First Name is required.
        </div>
      </div>
      <!-- Gender -->
      <div class="form-group">
        <label for="gender" class="d-block">Gender </label>
        <input type="radio" formControlName="gender" value="male" /> Male

        <input type="radio" formControlName="gender" value="female" />
        Female
        <div
          *ngIf="gender.errors?.required && gender.touched"
          class="form-text text-muted"
        >
          Gender is required.
        </div>
      </div>
      <!-- User Type -->
      <div class="form-group">
        <label for="usertype" class="control-label"
          >User Type
          <select
            id="usertype"
            formControlName="usertype"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                usertype.invalid && (usertype.dirty || usertype.touched),
              'is-valid': usertype.valid && (usertype.dirty || usertype.touched)
            }"
          >
            <option [ngValue]="null" disabled>--Select User Type--</option>
            <option
              *ngFor="let usertype of usertypes; let i = index"
              [ngValue]="usertype.id"
              >{{ usertype.value }}</option
            >
          </select>
        </label>
        <div
          *ngIf="usertype.valid && (usertype.dirty || usertype.touched)"
          class="help-block"
        >
          Looks good!
        </div>
        <div
          *ngIf="usertype.errors?.required && usertype.touched"
          class="help-block"
        >
          User Type is required.
        </div>
      </div>
      <!-- Departent -->
      <!-- <div class="form-group">
        <label for="department"
          >Department
          <select
            id="department"
            formControlName="department"
            class="form-control"
          >
            <option
              *ngFor="let department of departments"
              [ngValue]="department"
              >{{ department }}</option
            >
          </select>
        </label>
      </div> -->

      <!-- E-mail Address -->
      <div class="form-group">
        <label for="email"
          >E-mail Address
          <input
            id="email"
            type="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': email.invalid && (email.dirty || email.touched),
              'is-valid': email.valid && (email.dirty || email.touched)
            }"
          />
        </label>
        <div
          *ngIf="email.valid && (email.dirty || email.touched)"
          class="help-block"
        >
          Looks good!
        </div>
        <div *ngIf="email.errors?.required && email.touched" class="help-block">
          Email is required.
        </div>
        <div *ngIf="email.errors?.email && email.touched" class="help-block">
          Email is invalid.
        </div>
      </div>
      <!-- Contact Phone -->
      <div class="form-group">
        <label for="phone"
          >Contact Phone
          <input
            id="phone"
            type="text"
            formControlName="phone"
            class="form-control"
          />
        </label>
      </div>
      <!-- User Name -->
      <!-- <div class="form-group" *ngIf="userForm.valid">
        <label for="username"
          >User Name
          <input
            id="username"
            type="text"
            value="{{ userName }}"
            class="form-control"
            readonly
          />
        </label>
      </div> -->
      <!-- Password -->
      <!-- <div class="form-group" *ngIf="userForm.valid">
        <label for="password"
          >Password
          <input
            id="password"
            type="password"
            value="{{ password }}"
            class="form-control"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            readonly
          />
        </label> -->

      <!-- <div
          *ngIf="password.invalid && password.touched"
          class="form-text invalid-feedback"
        >
          Password must contain the following:
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">
            A <b>capital (uppercase)</b> letter
          </p>
          <p id="number" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div> -->
      <!-- </div> -->

      <div class="form-group">
        <mat-form-field floatLabel="auto" >
          <mat-label>First Name</mat-label>
          <input matInput placeholder="@ex.Ahmed" required/>
        </mat-form-field>
      </div>
      <button
        type="submit"
        [disabled]="!userForm.valid"
        class="btn btn-success mt-3 mr-2"
      >
        Add User
      </button>

      <button
        type="reset"
        [disabled]="!userForm.dirty"
        class="btn btn-primary mt-3"
      >
        Reset
      </button>
    </form>

    <p>{{ userForm.value | json }}</p>
    <p>{{ userForm.status }}</p>
  </div>
</div>
