<div class="row">
  <div class="form-group">
    <input 
    type="text" 
    class="form-control" 
    [(ngModel)]="search" 
    #ctrl="ngModel" 
    placeholder="Search By CivilId..." />
    <!-- <i class="fas fa-search icon search-icon" aria-hidden="true"></i> -->
    <button 
    class="btn btn-success" 
    [routerLink]="['./patient', search]" 
    (click)="getPatientData(ctrl)">Find Patient</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>