<div class="row">
  <div class="col-xs-8 col-sm-6 col-md-3 col-md-offset-2 col-sm-offset-1">
    <img
      src="../../../../assets/images/doctor/nurse.png"
      alt="doctor-image"
      style="max-height: 90px;"
    />
  </div>
  <div class="col-xs-12 col-sm-10 col-md-9 col-md-offset-2 col-sm-offset-1">
    <h3>User Details</h3>
    <div class="jumbotron">
      <p class="lead">User Name : {{ user.userName }}</p>
      <p>Gender : {{ user.gender }}</p>
      <p>User Type : {{ user.userType }}</p>
      <p>Email : {{ user.email }}</p>
      <p>Phone : {{ user.phone }}</p>
      <button class="btn btn-success">Update</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
